html {
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  overflow-x: auto;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: large;
}



h1 {
  text-indent: 2mm;
  font-size: 50px;
  color: rgb(10, 10, 10);
  margin-left: 10px;
}

h2 {
  white-space: pre;
  text-indent: 5mm;
  margin-top: -35px;
  font-size: 35px;
}
h3 {
  text-indent: 8mm;
  margin-top: 50px;
  font-size: 20px;
}
h4 {
  text-indent: 5mm;
  margin-top: 50px;
  font-size: 20px;
}

.desc{
  text-indent: 4px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  white-space: pre-line;
  margin-left: 21px;
}
.text {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  font-style: normal;
  white-space: pre-line;
  margin-left: 21px;
}

.code{
  white-space: pre;
  display: inline-block;
  background-color: #252525ff;
  border-style: double;
  color: #fff;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 10px;
  border-radius: 4px;
  font-family: monospace;
  overflow-x: auto;
  margin-left: 21px;
  text
}

img {
  display: block;
  margin-left: 21px;
  max-width: 650px;
  width: 100%;
  height: auto;
}

.imgContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}



button {
  border-color: black;
  cursor:pointer;
  border-radius: 10px;
  padding: 5px 50px;
  font-weight: bolder;
  background-color: rgba(129, 241, 95, 1);
  border-width: 1px;
  border-style: solid;
}
button:hover{
  border-width: 3px;
  padding: 3px 48px;
}
label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 150px;
  height: 8px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #000;
  height: 8px;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;  
  width: 20px;
  height: 20px;
  background-color: rgb(131 244 97);   /* Thumb color */
  border: 1px solid #0b0b0b;   /* Visible border */
  border-radius: 50%;         /* Make it circular */
  cursor: pointer;
  margin-top: -8px;           /* Adjust to align with track */
}

input[type="checkbox"] {
  align-self: center;
  height: 13px;
  width: auto;
  cursor: pointer;       /* pointer on hover */
  accent-color: #59d553ff; /* modern way to change check color */
}


a {
  display: block;
  border: 2px solid rgba(0, 0, 0, 1);
  /*background-color: rgb(131, 244, 97);*/
  background-color: #aeaeaeff;
  color: black;
  border-radius: 10px;
  white-space: pre-line;
  margin-left: 90px;
  min-width: fit-content;
  margin-top: 5px;
  width: 400px;
  padding-left: 10px;
  font-size: larger;
  align-items: stretch;
}

.inputContainer {
  display: flex;
  flex-direction: column;  /* stack inputs vertically */
  align-items: flex-start;
  gap: 10px;               /* default gap between all children */
}

.colorPickers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}


canvas {
  border: 1px solid rgb(0, 0, 0);
  display: block;
}
